@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
  box-sizing: border-box;
  max-width: 100vw;
  min-height: 100%;
  --confetti: rgba(233, 212, 96);
  --buddha_gold: rgba(189, 155, 25);
  --ripe_lemon: rgba(247, 202, 24);
  --kurnikova: rgba(250, 216, 89);
  --background_white: #fff;
  --salem_green: rgba(30, 130, 76);
  --dark_sea_green: rgba(144, 198, 149);
  --gossip_green: rgba(135, 211, 124);
  --logo_green: rgba(7, 59, 39);
  --logo_gold: rgba(182, 138, 61);
  --logo_gold_footer: rgba(182, 138, 61, 0.5);
}

*,
::before,
::after {
  box-sizing: inherit;
  margin-top: 0.5em;
}

html,
body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.app_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app_wrapper .main_content {
  flex: 1 0 auto;
}

.app_wrapper .footer {
  margin-top: auto;
}

.head_wrapper {
  display: flex;
  justify-content: space-between;
}

.head_wrapper .delivery {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.head_wrapper .delivery div .delivery_links {
  cursor: pointer;
  color: var(--salem_green);
  text-decoration: none;
}

.head_wrapper .delivery div .delivery_links,
::before,
::after {
  display: flex;
  align-items: center;
  margin: 0.5em;
}

.head_wrapper .delivery div .delivery_links span:last-child {
  display: none;
}

.head_container .image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head_container .image_wrapper > img {
  width: 46vw;
  height: 15vh;
}

.category_container {
  border-top: 0.1em solid var(--logo_green);
  border-bottom: 0.1em solid var(--logo_green);
  background-color: var(--logo_gold);
  color: var(--background_white);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.category_wrapper {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.category_wrapper li,
::before,
::after {
  margin: 0.2em 0.5em;
}

.category_wrapper li {
  cursor: pointer;
  display: inline-block;
}

.main_nav {
  display: inline-block;
  text-decoration: none;
  color: var(--background_white);
}

.main_nav_active {
  display: inline-block;
  text-decoration: none;
  color: var(--background_white);
  border-bottom: 0.2rem solid var(--salem_green);
  padding: 0.2em 0.5em;
}

/*contact us page styling*/
.contact_us_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_us_container h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: var(--logo_green);
}

.contact_us_container .form_wrapper {
  background-color: var(--logo_gold);
  display: flex;
  flex-direction: column;
  color: var(--background_white);
  width: 80vw;
  border: 0.1em solid var(--logo_green);
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em var(--logo_green);
  margin-bottom: 2em;
}

.contact_us_container .form_wrapper .form_header_wrapper {
  display: flex;
  align-items: center;
  border-bottom: 0.1em solid var(--logo_green);
  justify-content: center;
}

.contact_us_container .form_wrapper .form_header_wrapper div:first-of-type {
  display: flex;
  flex-direction: column;
}

.contact_us_container .form_wrapper .form_header_wrapper div:last-of-type {
  font-size: 2rem;
}

.contact_us_container .form_wrapper main {
  padding: 1em;
}

.contact_us_container .form_wrapper main input[type="text"],
input[type="email"],
input[type="tel"] {
  display: block;
  width: 100%;
  padding: 0.8em;
  border: 0.1em solid var(--logo_green);
  box-shadow: 0.1em 0.1em var(--logo_green);
  font-size: 1rem;
  border-radius: 0.2em;
}

.contact_us_container .form_wrapper main input:nth-child(3) {
  margin-bottom: 0.5em;
}

.contact_us_container .form_wrapper main textarea {
  display: block;
  width: 100%;
  height: 8em;
  padding: 0.8em;
  border: 0.1em solid var(--logo_green);
  box-shadow: 0.1em 0.1em var(--logo_green);
  font-size: 1rem;
  border-radius: 0.2em;
  color: var(--logo_green);
}

.contact_us_container .form_wrapper main input[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.7em;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--logo_green);
  transition: box-shadow 0.5s;
  border: 0.1em solid var(--logo_green);
  box-shadow: 0.1em 0.3em var(--logo_green);
  border-radius: 0.2em;
}

.contact_us_container .form_wrapper main input[type="submit"]:hover {
  box-shadow: 0 0.1em var(--logo_green);
}

.contact_us_container .extra_contacts {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  color: var(--logo_green);
}

.contact_us_container .extra_contacts div span {
  background-color: var(--logo_gold);
  margin-right: 0.3em;
  padding: 0.2em;
  border-radius: 0.2em;
  text-align: center;
}

.socials {
  box-shadow: 0 0.1em var(--logo_green);
}

.socials:hover {
  box-shadow: 0 0.1em var(--background_white);
}

.socials_links {
  text-decoration: none;
  color: var(--logo_green);
}

.socials_links:hover {
  color: var(--background_white);
}

.footer_wrapper {
  border-top: 0.1rem solid var(--logo_green);
  background-color: var(--logo_gold_footer);
  color: var(--background_white);
  padding: 1em;
}

.footer_wrapper section .quick_links {
  display: flex;
  flex-direction: column;
}

.footer_wrapper section .quick_links span {
  font-size: 0.8rem;
}

.footer_wrapper section .quick_links span:first-child {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.footer_wrapper section .weekly_interior_content {
  display: flex;
  flex-direction: column;
}

.footer_wrapper section .weekly_interior_content span {
  font-size: 0.8rem;
}

.footer_wrapper section .deliveries {
  font-size: 0.8rem;
  margin: 1.5em 0;
}

.footer_wrapper section .weekly_interior_content span:first-child {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.footer_wrapper section:last-child {
  border-top: 0.1em solid var(--logo_green);
}

.footer_wrapper section:last-child div span {
  margin-right: 0.3em;
  font-size: 0.8rem;
}

.footer_wrapper section:last-child span {
  font-size: 0.8rem;
}

.footer_socials {
  text-decoration: none;
  color: var(--background_white);
}

.footer_socials:hover {
  color: var(--logo_green);
}

.footer_nav {
  text-decoration: none;
  color: var(--background_white);
}

.footer_nav:hover {
  color: var(--logo_green);
}

.about_us_wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  color: var(--logo_green);
  padding: 0.8em;
}

.about_us_wrapper h1 {
  text-transform: uppercase;
  color: var(--logo_green);
}

.about_us_wrapper div span {
  background-color: var(--logo_gold);
  margin-right: 0.3em;
  padding: 0.2em;
  border-radius: 0.2em;
  text-align: center;
}

.signin_container {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: var(--ripe_lemon);
}

/*interior decor container styling*/
.interior_decor_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interior_decor_container h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: var(--logo_green);
  font-size: 1.5rem;
}

.interior_decor_container .questionaire_wrapper {
  background-color: var(--logo_gold);
  display: flex;
  flex-direction: column;
  color: var(--background_white);
  width: 80vw;
  border: 0.1em solid var(--logo_green);
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em var(--logo_green);
  margin-bottom: 2em;
  padding: .5em;
} 

.interior_decor_container .questionaire_wrapper .questionnaire_header {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.interior_decor_container .questionaire_wrapper .address span:nth-child(1){
  font-weight: bold;
  text-transform: uppercase;
}

.interior_decor_container .questionaire_wrapper input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  display: block;
  width: 100%;
  padding: 0.8em;
  border: 0.1em solid var(--logo_green);
  box-shadow: 0.1em 0.1em var(--logo_green);
  font-size: 1rem;
  border-radius: 0.2em;
}

.interior_decor_container .questionaire_wrapper textarea {
  display: block;
  width: 100%;
  height: 8em;
  padding: 0.8em;
  border: 0.1em solid var(--logo_green);
  box-shadow: 0.1em 0.1em var(--logo_green);
  font-size: 1rem;
  border-radius: 0.2em;
  color: var(--logo_green);
}

.interior_decor_container .questionaire_wrapper input[type="submit"] {
  display: block;
  width: 100%;
  padding: 0.7em;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--logo_green);
  transition: box-shadow 0.5s;
  border: 0.1em solid var(--logo_green);
  box-shadow: 0.1em 0.3em var(--logo_green);
  border-radius: 0.2em;
}

.interior_decor_container .questionaire_wrapper input[type="submit"]:hover {
  box-shadow: 0 0.1em var(--logo_green);
}

.interior_decor_container .questionaire_wrapper .checkbox_group span {
  margin-top: .5em;
}
.interior_decor_container .questionaire_wrapper .checkbox_group .checkbox_items {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.errors {
  color: red;
  font-size: .8rem;
  font-weight: bold;
}

/*products page styling*/
.products_page_container {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  padding: .5em;
}

.products_page_container .product_title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--logo_green);
  font-size: 1.5rem;
}

.products_page_container .products_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: .5em;
}

/*dropdown styling*/
.dropdown {
  display: inline-block;
  position: relative;
  margin: 0;
}

.dropdown_menu {
  display: none;
}

.dropdown_menu_active {
  display: flex;
  position: absolute;
  left: -3.5em;
  top: 2.68em;
  background-color: var(--logo_gold);
}
  
.submenu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  border: 1px solid var(--logo_green);
}

.submenu > li + li {
  border-top: 1px solid var(--logo_green);
}
.submenu > li > a {
    display: block;
    padding: .5em 1.5em;
    background-color: var(--logo_gold);
    color: var(--logo_green);
    text-decoration: none;
}

.submenu > li > a:hover {
    background-color: #fff;
}

/*product card stying*/
.product_card_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 .8em var(--logo_gold);
  border-radius: .2em;
  padding: 1.5em .5em;
  color: var(--logo_green);
}

.product_card_wrapper:hover {
  box-shadow: inset 0 0 .8em var(--logo_gold);
}

.product_card_wrapper div:nth-child(2) {
  font-weight: bold;
}

.product_card_wrapper div:nth-child(3) {
  font-size: .8rem
}

.product_card_wrapper .image_wrapper {
  display: block;
  width: 10em;
  height: 10em;
}

.product_link {
  text-decoration: none;
}

/*details page styling*/
.details_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details_wrapper {
  display: flex;
  flex-direction: column;
  padding: .5em;
  color: var(--logo_green);
}

.details_wrapper .main_title {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 .8em var(--logo_gold);
  padding: .5em;
  border-radius: .2em;
}

.details_wrapper .main_title span {
  padding-bottom: 1em;
}

.details_wrapper .main_title span:nth-child(1) {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.details_wrapper .main_title span:nth-child(2) {
  font-weight: bolder;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.sold_out {
  font-weight: bolder;
  font-size: .9rem;
  text-transform: uppercase;
  color: var(--dark_sea_green);
}

.details_wrapper .main_title .payment_methods {
  font-size: 1.2rem;
}

.details_wrapper .main_title .payment_methods .payment_methods_title {
  font-size: .8rem;
  text-transform: none;
}

.details_wrapper .product_description {
  box-shadow: inset 0 0 .8em var(--logo_gold);
  padding: .5em;
  border-radius: .2em;
}

.details_wrapper .sub_images .sub_images_wrapper {
  box-shadow: inset 0 0 .8em var(--logo_gold);
  padding: .5em;
  border-radius: .2em;
  display: inline-flex;
  margin-left: .2em;
}

.cart_button {
  box-shadow: .15em .15em var(--logo_gold);
  border-radius: .2em;
  text-transform: uppercase;
  color: var(--logo_green);
  padding: .5em;
  border: hidden;
  font-weight: bold;
  cursor: pointer;
}

.cart_button_disabled {
  cursor: none;
  box-shadow: inset -0.2em -0.2em var(--logo_gold);
  border-radius: .2em;
  text-transform: uppercase;
  color: var(--logo_green);
  padding: .5em;
  border: hidden;
  font-weight: bold;
}

.cart_button:hover {
  color: var(--background_white);
  background-color: var(--logo_green);
}

.back_button_wrapper {
  padding: .5em;
  display: inline-flex;
  justify-content: center;
  margin: 1.5em auto;
}

.back_button_wrapper .back_button {
  padding: 1em 2.5em;
  box-shadow: 0 0 .5em var(--logo_gold);
  text-transform: uppercase;
  color: var(--logo_green);
  font-weight: bolder;
  border: hidden;
  border-radius: .2em;
  cursor: pointer;
}

.back_button_wrapper .back_button:hover {
  box-shadow: inset 0em -.1em .5em var(--logo_gold);
  border: none;
}

/*cart styling*/
.cart_wrapper {
  display: flex;
  flex-direction: column;
  padding: .5em;
  justify-content: center;
}

.cart_wrapper .cart_heading {
  color: var(--logo_green);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.cart_wrapper .cart_content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart_wrapper .cart_content_wrapper .content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: .1em solid var(--logo_gold);
  border-bottom: .1em solid var(--logo_gold);
}

.cart_wrapper .cart_content_wrapper .buttons_wrapper {
  display: flex;
}

.cart_wrapper .cart_content_wrapper .buttons_wrapper .quantity{
  margin-right: 1em;
}

.cart_wrapper .cart_content_wrapper .buttons_wrapper .subtract_button {
  padding: .5em 1em;
  box-shadow: inset 0 0 .8em var(--logo_gold);
  border: hidden;
  cursor: pointer;
  border: .2em;
  color: var(--logo_green);
  font-weight: bolder;
}

.cart_wrapper .cart_content_wrapper .buttons_wrapper span {
  padding: .5em 1em;
  color: var(--logo_green);
  font-weight: bold;
}

.cart_wrapper .cart_content_wrapper .buttons_wrapper .add_button {
  padding: .5em 1em;
  box-shadow: inset 0 0 .8em var(--logo_gold);
  border: hidden;
  cursor: pointer;
  border: .2em;
  color: var(--logo_green);
  font-weight: bolder;
}

.cart_wrapper .cart_content_wrapper .buttons_wrapper .trash_button {
  padding: .5em 1em;
  box-shadow: inset 0 0 .9rem red;
  border: hidden;
  cursor: pointer;
  border: .2em;
  color: red;
  font-weight: bolder;
}

.cart_wrapper .cart_content_wrapper .item_description {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--logo_green);
  font-weight: bold;
}

.cart_wrapper .cart_content_wrapper .price {
  font-weight: bolder;
  margin: 1.5em 0em;
  color: var(--logo_green);
}

.cart_wrapper .order_summary_wrapper {
  box-shadow: inset 0 0 .3em var(--logo_gold);
  padding: .5em;
  color: var(--logo_green);
}

.cart_wrapper .order_summary_wrapper .items_summary_wrapper {
  display: flex;
  justify-content: space-between;
  color: var(--logo_green);
}

.cart_wrapper .order_summary_wrapper .checkout_button {
  display: block;
  width: 100%;
  padding: .5em 2em;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--logo_gold);
  border: hidden;
}

.cart_wrapper .order_summary_wrapper .checkout_button:hover {
  box-shadow: .15em .15em var(--logo_green);
}

.cart_wrapper .cart_buttons {
  display: flex;
  justify-content: space-between;
}

.cart_wrapper .cart_buttons .back_button {
  padding: .5em 1em;
  box-shadow: inset 0 0 .9rem var(--logo_gold);
  border: hidden;
  cursor: pointer;
  border: .2em;
  color: var(--logo_green);
  font-weight: bolder;
}

.cart_wrapper .cart_buttons .trash_button {
  padding: .5em 1em;
  box-shadow: inset 0 0 .9rem red;
  border: hidden;
  cursor: pointer;
  border: .2em;
  color: red;
  font-weight: bolder;
}

/*checkout styling*/
.stepper_wrapper {
  padding: .5em;
  display: flex;
  flex-direction: column;
}

.stepper_wrapper .stepper_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--logo_green);
  box-shadow: inset 0 0 .3em var(--logo_gold);
  padding-bottom: .4em;
}

.stepper_wrapper .stepper_container .tab {
  color: var(--logo_green);
}
.stepper_wrapper .stepper_container .active_tab {
  color: var(--logo_gold);
}

.addressform_wrapper {
  padding: .8em;
  box-shadow:inset 0 0 .3em var(--logo_gold);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addressform_wrapper .addressform_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addressform_wrapper .addressform_header span {
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding-bottom: .5em;
}

.addressform_wrapper input[type="text"], 
input[type="email"],
input[type="tel"],
input[type="number"] {
  display: block;
  width: 100%;
  padding: 0.4em;
  border: 0.1em solid var(--logo_green);
  box-shadow: 0.1em 0.1em var(--logo_green);
  font-size: 1rem;
  border-radius: 0.2em;
}

.addressform_wrapper .next_button {
  padding: .5em 2em;
  background-color: var(--logo_gold);
  color: var(--logo_green);
  border: hidden;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: .9em;
  cursor: pointer;
}

.payment_wrapper {
  padding: .5em;
  box-shadow: inset 0 0 .4em var(--logo_gold);
}

.payment_wrapper .buttons_wrapper {
  display: flex;
  justify-content: space-between;
}

.payment_wrapper .buttons_wrapper .next_button {
  padding: .5em 2em;
  background-color: var(--logo_gold);
  color: var(--logo_green);
  border: hidden;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: .9em;
  cursor: pointer;
}

.payment_wrapper .buttons_wrapper .back_button {
  padding: .5em 2em;
  border: .1em solid var(--logo_gold);
  color: var(--logo_green);
  text-transform: uppercase;
  font-weight: bold;
  margin-top: .9em;
  cursor: pointer;
}

.confirmation_wrapper {
  box-shadow: inset 0 0 .4em var(--logo_gold);
  padding: .5em;
}

.confirmation_wrapper .confirmation_heading {
  font-weight: bold;
  text-transform: uppercase;
}

.confirmation_wrapper .confirmation_button {
  padding: .5em 2em;
  background-color: var(--logo_gold);
  color: var(--logo_green);
  border: hidden;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: .9em;
  cursor: pointer;
  border-radius: .2em;
}

.checkout_link {
  text-decoration: none;
  color: var(--logo_green);
}

@media screen and (min-width: 768px) {
  .category_container {
    font-size: 1rem;
  }

  .head_wrapper .delivery div .delivery_links span:first-child {
    font-size: 0.6rem;
    margin-right: 0.3em;
  }

  .head_wrapper .delivery div .delivery_links span:last-child {
    display: flex;
    font-size: 0.9rem;
  }

  .head_container .image_wrapper > img {
    width: 30vw;
    height: 25vh;
  }

  .about_us_wrapper {
    width: 80vw;
  }

  .questionaire_wrapper {
    width: 80vw;
  }

  .interior_decor_container .questionaire_wrapper .address {
    display: flex;
    flex-direction: column;
  }

  .interior_decor_container .questionaire_wrapper .address .address_inputs {
    display: flex;
    justify-content: space-evenly;
  } 

  .interior_decor_container .questionaire_wrapper input[type="submit"] {
    width: 15%;
  }

  /*dropdown_menu stying*/
  .dropdown_menu_active {
    left: 0;
    top: 1.6em;
  }

  .submenu {
    grid-template-columns: repeat(3, 1fr);
  }

  /*products page styling*/
  .products_page_container {
    display: block;
    width: 80vw;
    margin: auto;
  }

  /*product card stying*/
  .product_card_wrapper .image_wrapper {
    width: 15em;
    height: 10em;
  }

  /*details stying*/
  .details_container {
    display: block;
    width: 80vw;
    margin: auto;
  }

  .details_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: .5em;
  }

  .main_image {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .sub_images {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .main_title {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .product_description {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  /*cart styling */
  .cart_wrapper {
    display: block;
    width: 80vw;
    margin: auto;
  }

  .cart_wrapper .cart_wrapper_container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-gap: .5em;
  }

  .cart_content_wrapper {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .order_summary_wrapper {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .cart_buttons {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .cart_wrapper .cart_content_wrapper .content_wrapper {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: .5em;
  }

  .item_description {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .buttons_wrapper {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .price {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  /*checkout styling*/
  .stepper_wrapper {
    width: 80vw;
    margin: auto;
  }

  .stepper_container {
    width: 40vw;
    margin: auto;
  }

  .addressform_wrapper {
    width: 40vw;
    margin: auto;
  }

  .payment_wrapper {
    width: 40vw;
    margin: auto;
  }

  .confirmation_wrapper {
    width: 40vw;
    margin: auto;
  }
}




@media screen and (min-width: 1024px) {
  .products_page_container .products_wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  /*details page styling*/
  .details_container {
    display: block;
    width: 80vw;
    margin: auto;
  }
}
